.custom-menu {
  background-color: #444444  !important;
}

.custom-menu .item {
  color: white !important;
  font-weight: bold !important;
}

.ui.dropdown .menu>.header {
  font-size: 13px !important;
  font-weight: 900 !important;
}

.hint {
  font-style: italic !important;
  font-size: 12px !important;
}

h1 {
  margin-bottom: 0 !important
}

small {
  font-size: 18px !important;
}

body {
  background-color: #f9fafb !important;
}